* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #9b8c7d;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}
.container {
    background-color: #ffffff;
    font-size: 16px;
    padding: 3em 1em; /* Adjusted side padding for better fit on mobile */
    width: 90vw;
    max-width: 32em;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 0.6em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: added a subtle shadow for depth */
}
img {
    display: block;
    width: 100%; /* Changed to 100% for better scaling on smaller screens */
    height: auto; /* Maintain aspect ratio */
    margin: 1.8em auto 0 auto;
}
.Mushroom-Name, .Title {
    text-align: center;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    color: #4f403f;
}

ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0 auto; /* Changed to 'auto' for better centering */
    color: #4a3632;
}

li {
    text-align: left;
    margin: 0;
    padding: 0.25rem 0;
    display: block;
    clear: left;
}
b {
    font-weight: normal;
    color: black;
}

@media screen and (max-width: 500px) {
    .container {
        padding: 3em 1em; /* Reduced side padding on smaller screens */
        font-size: 14px;
    }
}