* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #9b8c7d;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    margin: 0; /* Reset the default margin on the body */
    padding: 4rem 0; /* Add spacing at the top and bottom of the body */
    display: flex;
    justify-content: center; /* Center the container horizontally */
    align-items: flex-start; /* Align the container to the top */
}

.container {
    background-color: #ffffff;
    font-size: 16px;
    padding: 2em 1em;
    border-radius: 0.6em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%; /* Allow the container to grow as much as needed */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
}
img {
    display: block;
    width: 100%; /* Changed to 100% for better scaling on smaller screens */
    max-height: 70vh; /* Set a maximum height relative to the viewport height */
    height: auto; /* Maintain aspect ratio */
    margin: 1.8em auto 0 auto;
}
.Mushroom-Name, .Title {
    text-align: center;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    color: #4f403f;
}

ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0 auto; /* Changed to 'auto' for better centering */
    color: #4a3632;
}

li {
    text-align: left;
    margin: 0;
    padding: 0.25rem 0;
    display: block;
    clear: left;
    color: #241e1c;
}
b {
    font-weight: normal;
    font-style: italic;
}

a {
    font-style: none;
    text-decoration: none;
    color: #241e1c;
    font-style: italic;

}

@media screen and (max-width: 500px) {
    .container {
        padding: 3em 1em; /* Reduced side padding on smaller screens */
        font-size: 14px;
    }
}